.textArea {
  margin-top:1%;
}

/*.post {
  border: 1px solid #000;
}*/


.panel {
 padding: 10px;
 /*margin-bottom: 10px;*/
}


.template,.commentTemplate {
  display: none
}

/*.post:hover {
  background-color: lightgrey;
  cursor: pointer;

}*/

.comments {
  display: none;
  /*border: 1px solid transparent;*/
}